#header{
    display: flex;
    justify-content: space-between;

}
#nav-bar{
   display: flex;
   max-width: 300px;
   justify-content: space-around;
   flex: 1;
   margin-right: 20px;
    
   }




@media only screen and (max-width: 768px) {
    #nav-bar{
        
        flex-direction: column;
    }
}

